.normal-button {
  width: 90px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: rgb(46, 221, 137);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.normal-button:hover {
  background-color: rgb(40, 178, 111);
}

.circle-button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: pink;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 800px) {
  .normal-button {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(46, 221, 137);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }

  .circle-button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: pink;
    color: black;
    font-size: 14px;
    font-weight: 700;
  }
}
